.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.just-betw {
    justify-content: space-between;
}

.gap5 {
    gap: 5px;
}

.gap22 {
    gap: 22px;
}

.gap30 {
    gap: 30px;
}

.color000 {
    color: #000;
}

.darkblue {
    color: #202142;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-22 {
    font-size: 22px;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-1000 {
    font-weight: 1000;
}